
<style>
    nav {
        background-color: #f2f2f2;
        padding: 10px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    li {
        display: inline;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        color: #333;
        padding: 5px;
    }

    a:hover {
        background-color: #333;
        color: #fff;
    }
</style>

<nav>
    <ul>
        <li><a href="">Главная</a></li>
        <li><a href="/catalog">Каталог</a></li>
        <li><a href="/logout">Выход</a></li>
        <li><a href="/registrate">Регистрация</a></li>
    </ul>
</nav>